@model IEnumerable<IDocument>

@{
    foreach (IDocument post in Model)
    {
        string lead = post.String(BlogKeys.Lead);

        <div class="post-preview">

            @Html.Partial("_partial_fbLike", post)

            <a href="@Context.GetLink(post)">
                <h2 class="post-title">@post.WithoutSettings.String(BlogKeys.Title)</h2>
                @if(!string.IsNullOrWhiteSpace(lead))
                {
                    <h4 class="post-subtitle">@lead</h4>
                }
            </a>
            @if(Context.Bool(BlogKeys.ArchiveExcerpts))
            {
                @Html.Raw(post.String(BlogKeys.Excerpt))
            }

            @Html.Partial("_partial_postMeta", post)
        </div>   
    }
}