  @{
    var post = Model;
    // 取得這篇的網址 - 如果有舊資料表示是從blogspot來的，因此網址用以前的網址
    // 如果沒有表示是新的網址，用新的。
    var uniqueSocialUrl = post.String(Keys.RedirectFrom);

    if(string.IsNullOrEmpty(uniqueSocialUrl))
    {
        uniqueSocialUrl = @Context.GetLink(Model, true);
    }
    else
    {
        uniqueSocialUrl = "http://" + post.String(Keys.Host) + "/" + uniqueSocialUrl;
    }

    var Lead = Model.String(BlogKeys.Lead);
    var Published = Model.Get<DateTime>(BlogKeys.Published);   
    var Tags = Model.Get<string[]>(BlogKeys.Tags);
}
  
  <section>
<div class="meta">        
        @if (Published != default(DateTime))
        {
            <text>
                <i class="fa fa-calendar fa-fw"></i>@Published.ToString("yyyy-MM-dd dddd")
            </text>
        }

    @if (Tags != null)
    {
        <div class="tags">
            @foreach (string tag in Tags.OrderBy(x => x))
            {
                IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag) == tag && x.Get<int>(Keys.CurrentPage) == 1);
                if(tagDocument != null)
                {                
                    <a role="button" href="@Context.GetLink(tagDocument)" class="btn btn-default btn-xs"><i class="fa fa-tag fa-fw"></i>@tag</a>
                }
            }
        </div>     
    } 
    </div>
 <div>
        <span class='post-author vcard'>
張貼者&#65306;
<a class='g-profile' href='https://plus.google.com/100603753670492098693' rel='author' title='author profile'>
<span itemprop='name'>
Alan Tsai
</span>
</a>
</span>
</span>

    </div>
@Html.Partial("_partial_fbLike", Model)
  </section> 
   

<!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_relatedposts_inline"></div>

@Html.Partial("_partial_disqus") 
